<div class="form-group">
Customer Name:<input style="width:50%" class="form-control"#name placeholder="enter customer name here"><br>
Assigned Technician:<input style="width:50%" class="form-control"#tech placeholder="enter assigned technician here"><br>
Device Model:<input style="width:50%" class="form-control"#dmodel placeholder="enter device model here"><br>
Notes on repair:<input style="width:50%" class="form-control"#dnotes placeholder="enter notes here"><br>
<button type="button" class="btn btn-outline-primary" (click)="newtick(name.value, tech.value, dmodel.value, dnotes.value); name.value = ''; tech.value = ''; dmodel.value = ''; dnotes.value ='';">Submit</button>
</div>
